*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100%;
    width:100%;
}
a{
    text-decoration: none;
}
.container
{
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
.header_container
{
    margin-bottom: 2.8em;
}
.header_title
{
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
.headerDescription
{
    font-size: 1.2rem;
    max-width: 668px;
    color:rgb(58, 58, 58);
    margin: 0 auto;
    text-align: center;
}
.main_container
{
    display: grid;
    gap:1.5rem;
    grid-template-columns:repeat(1,1fr);
}
@media (min-width:650px)
{
    .main_container
    {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:1080px)
{
    .main_container
    {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width:1340px)
{
    .main_container
    {
        grid-template-columns: repeat(4,1fr);
    }
}
.card_container
{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(216, 213, 213);
    border-radius: 15px;
    overflow: hidden;
}
.card_img_container
{
    position: relative;
    overflow: hidden;
    height: 12rem;
}
.card_img
{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card_title_container
{
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
}
.card_container:hover .card_img{
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.card_title
{
    line-height: 1.6rem;
    color: black;
    font-size: 1.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card_description
{
    margin-top:2px ;
    line-height: 1.2rem;
    color: rgb(9, 2, 37);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card_title:hover{
    color: #2909f8;
}
.card_footer_container
{
    display: flex;
    justify-content:space-between ;
    padding: 1.5rem;
}
.author_container
{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 1rem;
}
.author_avtar_container
{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(136, 135, 135);
    border-radius: 50%;
    background-color: rgb(217, 216, 216);
}
.author_avtar
{
    width:100%;
    height:100%;
}
.author_info_container
{
    display: flex;
    flex-direction: column;
}
.author_name
{
    color: #2909f8;
}
.author_date
{
    color: darkgray;
}
.card_tag_container{
     border: 1px solid black;
     text-align:center;
     font-family: serif;
     margin-right: 2px;
     margin-bottom: 2px;
     font-size: 1rem;
     padding: 0.25rem 0.25rem;
}